{# On inclut le layout #} 
{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel article{% endblock %}

{% block content %}

    <h1>Création d'un nouvelle catégorie</h1>
    
    <form method="post" action="{{ path('categories.store') }}">
        <div class="form-group">
            <label for="title">Ajouter une Catégorie</label>
            <input class="form-control" id="title" name="title">
        </div>
        <button class="btn btn-primary">Ajouter</button>
    </form>

{% endblock %}